*{
  margin: 0px;
  padding: 0px;
}

.one{
  background-image: url(image31.jpg);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
  width: 1300px;
  height: 700px;
  padding: 50px;
  color: rgb(26, 2, 2);
  display: flex;
 
}
.Y1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  
  

}

